@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-asparagus:before { content: "\f100"; }
.flaticon-002-turnip:before { content: "\f101"; }
.flaticon-003-tomato:before { content: "\f102"; }
.flaticon-004-sweet-potato:before { content: "\f103"; }
.flaticon-005-green-beans:before { content: "\f104"; }
.flaticon-006-apple:before { content: "\f105"; }
.flaticon-007-avocado:before { content: "\f106"; }
.flaticon-008-banana:before { content: "\f107"; }
.flaticon-009-blueberries:before { content: "\f108"; }
.flaticon-010-orange:before { content: "\f109"; }
.flaticon-011-strawberry:before { content: "\f10a"; }
.flaticon-012-bell-pepper:before { content: "\f10b"; }
.flaticon-013-lentils:before { content: "\f10c"; }
.flaticon-014-beans:before { content: "\f10d"; }
.flaticon-015-rice:before { content: "\f10e"; }
.flaticon-016-wheat:before { content: "\f10f"; }
.flaticon-017-quinoa:before { content: "\f110"; }
.flaticon-018-almond:before { content: "\f111"; }
.flaticon-019-chia:before { content: "\f112"; }
.flaticon-020-coconut:before { content: "\f113"; }
.flaticon-021-macadamia:before { content: "\f114"; }
.flaticon-022-walnut:before { content: "\f115"; }
.flaticon-023-broccoli:before { content: "\f116"; }
.flaticon-024-peanut:before { content: "\f117"; }
.flaticon-025-cocoa:before { content: "\f118"; }
.flaticon-026-bread:before { content: "\f119"; }
.flaticon-027-bread:before { content: "\f11a"; }
.flaticon-028-vinegar:before { content: "\f11b"; }
.flaticon-029-olive-oil:before { content: "\f11c"; }
.flaticon-030-coconut-oil:before { content: "\f11d"; }
.flaticon-031-cheese:before { content: "\f11e"; }
.flaticon-032-yogurt:before { content: "\f11f"; }
.flaticon-033-butter:before { content: "\f120"; }
.flaticon-034-carrot:before { content: "\f121"; }
.flaticon-035-milk:before { content: "\f122"; }
.flaticon-036-eggs:before { content: "\f123"; }
.flaticon-037-chicken-breast:before { content: "\f124"; }
.flaticon-038-meat:before { content: "\f125"; }
.flaticon-039-steak:before { content: "\f126"; }
.flaticon-040-salmon:before { content: "\f127"; }
.flaticon-041-sardines:before { content: "\f128"; }
.flaticon-042-shellfish:before { content: "\f129"; }
.flaticon-043-shrimp:before { content: "\f12a"; }
.flaticon-044-trout:before { content: "\f12b"; }
.flaticon-045-cauliflower:before { content: "\f12c"; }
.flaticon-046-tuna:before { content: "\f12d"; }
.flaticon-047-cucumber:before { content: "\f12e"; }
.flaticon-048-garlic:before { content: "\f12f"; }
.flaticon-049-ginger:before { content: "\f130"; }
.flaticon-050-lettuce:before { content: "\f131"; }

$font-Flaticon-001-asparagus: "\f100";
$font-Flaticon-002-turnip: "\f101";
$font-Flaticon-003-tomato: "\f102";
$font-Flaticon-004-sweet-potato: "\f103";
$font-Flaticon-005-green-beans: "\f104";
$font-Flaticon-006-apple: "\f105";
$font-Flaticon-007-avocado: "\f106";
$font-Flaticon-008-banana: "\f107";
$font-Flaticon-009-blueberries: "\f108";
$font-Flaticon-010-orange: "\f109";
$font-Flaticon-011-strawberry: "\f10a";
$font-Flaticon-012-bell-pepper: "\f10b";
$font-Flaticon-013-lentils: "\f10c";
$font-Flaticon-014-beans: "\f10d";
$font-Flaticon-015-rice: "\f10e";
$font-Flaticon-016-wheat: "\f10f";
$font-Flaticon-017-quinoa: "\f110";
$font-Flaticon-018-almond: "\f111";
$font-Flaticon-019-chia: "\f112";
$font-Flaticon-020-coconut: "\f113";
$font-Flaticon-021-macadamia: "\f114";
$font-Flaticon-022-walnut: "\f115";
$font-Flaticon-023-broccoli: "\f116";
$font-Flaticon-024-peanut: "\f117";
$font-Flaticon-025-cocoa: "\f118";
$font-Flaticon-026-bread: "\f119";
$font-Flaticon-027-bread: "\f11a";
$font-Flaticon-028-vinegar: "\f11b";
$font-Flaticon-029-olive-oil: "\f11c";
$font-Flaticon-030-coconut-oil: "\f11d";
$font-Flaticon-031-cheese: "\f11e";
$font-Flaticon-032-yogurt: "\f11f";
$font-Flaticon-033-butter: "\f120";
$font-Flaticon-034-carrot: "\f121";
$font-Flaticon-035-milk: "\f122";
$font-Flaticon-036-eggs: "\f123";
$font-Flaticon-037-chicken-breast: "\f124";
$font-Flaticon-038-meat: "\f125";
$font-Flaticon-039-steak: "\f126";
$font-Flaticon-040-salmon: "\f127";
$font-Flaticon-041-sardines: "\f128";
$font-Flaticon-042-shellfish: "\f129";
$font-Flaticon-043-shrimp: "\f12a";
$font-Flaticon-044-trout: "\f12b";
$font-Flaticon-045-cauliflower: "\f12c";
$font-Flaticon-046-tuna: "\f12d";
$font-Flaticon-047-cucumber: "\f12e";
$font-Flaticon-048-garlic: "\f12f";
$font-Flaticon-049-ginger: "\f130";
$font-Flaticon-050-lettuce: "\f131";